body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eef7ff;
}

header {
    background-color: #6ec1ff;
    color: #003b66;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #003b66;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
}

.card {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Grid pemain */
#pemain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

/* Judul pemain */
.card h3 {
    margin-top: 0;
    color: #003b66;
}

.foto-pemain {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}


}
